
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
Frontend/build
Frontend/.eslintcache
Frontend/src/aws-exports.js
node_modules
bower_components
src/Project/obj
Handler/src/Handler/bin
Handler/src/Handler/obj
cdk.out
.vscode
src/Project/bin

endpoint.json
*.sublime*
cdk.context.json
local.session.sql

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react
