.search-area .search-bar {
    display: flex;
}

.search-area .full-width {
    width: 100%;
}

.apply-filter .heading {
    padding: 10px 0 10px 16px;
    margin: 4px 0 10px 0;
    background-color: #1c83fb;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.apply-filter .filter-widgets {
    max-height: calc(100vh - 260px);
    min-height: 570px;
    overflow-y: auto;
    overflow-x: hidden;
}

.apply-filter .experience-slider {
    margin-bottom: 2px;
}

.apply-filter .filter-list {
    padding-top: 4px;
    padding-bottom: 4px;
}

.apply-filter .expand-icon {
    color: rgba(0, 0, 0, 0.54);
}

.apply-filter .filter-list-button {
    padding-left: 6px;
    padding-top: 0;
    padding-bottom: 0;
}

.apply-filter .filter-list-icon {
    min-width: 36px;
}

.apply-filter .filter-checkbox-text span {
    font-size: 15px;
    font-weight: 500;
}

.apply-filter .expand-more {
    padding: 0;
}

.apply-filter .category {
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.apply-filter .category-text span {
    color: #1c83fb;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}
