.MuiToolbar-root {
    background-color: white;
}

.MuiToolbar-root .company-logo {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MuiToolbar-root a {
    text-decoration: none;
}

div.popover-content {
    pointer-events: auto;
    margin: 10px;
    font-size: 16px;
}

.grow {
    flex-grow: 1;
}
