#chartAreaCenteredReference {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: calc(50% + 122.5px);
}

#orgChartTopArea {
    display: flex;
    list-style: none;
}

#searchLegendArea {
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#searchArea {
    margin-top: 24px;
    vertical-align: middle;
    display: inline-flex;
}

#searchArea > * {
    margin-right: 20px;
}

#legend {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
}

#legend li {
    display: flex;
    align-items: center;
}

#legend div:not(.org-chart-help-button) {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 3px;
}

.orange-background {
    background: #ff9900;
}

.dark-blue-background {
    background: #00569c;
}

.App .orgchart-container {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 270px);
    margin: 0;
    overflow: hidden;
}

.App .orgchart {
    background: none;
}

.App .orgchart ul li .oc-node {
    margin-bottom: 70px;
}

.App .orgchart ul li .oc-node.selected,
.App .orgchart ul li .oc-node:hover {
    background: none;
}

.App .orgchart > ul > li > ul li > .oc-node::before {
    background-color: black;
    height: 40px;
    width: 2px;
    top: -36px;
}

.App .orgchart ul li .oc-node:not(:only-child)::after {
    background-color: black;
    width: 2px;
    height: 40px;
    bottom: -36px;
}

.App .orgchart > ul > li > ul li::before,
.App .orgchart > ul > li > ul li::after {
    border-color: black;
    top: -36px;
}

.loaded-chart {
    cursor: move;
}

.chart-hidden {
    visibility: hidden;
}

.node-expander-top,
.node-expander-bottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    width: 24px;
    z-index: 20;
}

.node-expander-top svg,
.node-expander-bottom svg {
    background-color: white;
    width: 24px;
    height: 24px;
    color: #1c83fb;
    transition: color 0.2s;
}

.node-expander-top svg:hover,
.node-expander-bottom svg:hover {
    color: #00569c;
}

.arrow-down svg {
    transform: rotate(90deg);
}

.arrow-up svg {
    transform: rotate(-90deg);
}

.node-expander-top:hover,
.node-expander-bottom:hover {
    cursor: pointer;
}

.node-expander-top {
    top: -28px;
}

.node-expander-bottom {
    bottom: -31px;
}

.org-chart-help-button {
    margin-left: 15px;
}
