#orgChartTopArea {
    display: flex;
    list-style: none;
}

#searchLegendArea {
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#searchArea {
    margin-top: 20px;
    vertical-align: middle;
    display: inline-flex;
}

#searchArea > * {
    margin-right: 20px;
}

.orgchart-search-dropdown-entry {
    display: flex;
    align-items: center;
    width: 100%;
}

.orgchart-search-dropdown-entry img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#legend {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    /* display: inline-flex; */
    list-style: none;
    font-size: 20px;
}

#legend li {
    display: flex;
    align-items: center;
}

#legend div {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 15px;
}

.orange-background {
    background: #ff9900;
}

.dark-blue-background {
    background: #00569c;
}

.orgchart-container {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 270px);
    margin: 0;
    overflow: hidden;
}

.orgchart {
    background: none;
}

.orgchart ul li .oc-node {
    margin-bottom: 70px;
}

.orgchart ul li .oc-node.selected,
.orgchart ul li .oc-node:hover {
    background: none;
}

.orgchart > ul > li > ul li > .oc-node::before {
    background-color: black;
    height: 40px;
    width: 2px;
    top: -36px;
}

.orgchart ul li .oc-node:not(:only-child)::after {
    background-color: black;
    width: 2px;
    height: 40px;
    bottom: -36px;
}

.orgchart > ul > li > ul li::before,
.orgchart > ul > li > ul li::after {
    border-color: black;
    top: -36px;
}

.card-name-extension,
.card-title-extension,
.card-email-extension {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    z-index: 30;
    white-space: nowrap;
}

.card-name-extension {
    top: 15px;
}

.card-title-extension {
    top: 39px;
}

.card-email-extension {
    top: 63px;
}

.card-text-too-long + .card-name-extension,
.card-text-too-long + .card-title-extension,
.card-text-too-long + .card-email-extension {
    visibility: visible;
    cursor: text;
}

.card-text-too-long + .card-name-extension:hover,
.card-text-too-long + .card-title-extension:hover,
.card-text-too-long + .card-email-extension:hover {
    opacity: 1;
}

.node-expander-top,
.node-expander-bottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    width: 24px;
    z-index: 20;
}

.node-expander-top svg,
.node-expander-bottom svg {
    background-color: white;
    width: 24px;
    height: 24px;
    color: #1c83fb;
    transition: color 0.2s;
}

.node-expander-top svg:hover,
.node-expander-bottom svg:hover {
    color: #00569c;
}

.arrow-down svg {
    transform: rotate(90deg);
}

.arrow-up svg {
    transform: rotate(-90deg);
}

.node-expander-top:hover,
.node-expander-bottom:hover {
    cursor: pointer;
}

.node-expander-top {
    top: -28px;
}

.node-expander-bottom {
    bottom: -31px;
}
